<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6" style="font-size: smaller; text-align: center">
        © T3 Bursiyer Ve Gönüllü Koordinatörlüğü | Teknik Ekibi
      </div>
      <div class="col-sm-6" style="font-size: smaller; text-align: left">
        <div class="text-sm-end d-none d-sm-block">
          Design & Develop by
          <a href="https://www.t3kys.com" class="text-decoration-underline">Türkiye Teknoloji Takımı</a>
        </div>
      </div>      
      </div>
    </div>
  </div>
</footer>
