<header id="page-topbar">
  <div class="navbar-header">
      <div class="d-flex">
          <!-- LOGO -->
          <div class="navbar-brand-box">
              <a href="/" class="logo logo-dark">
                  <span class="logo-sm">
                      <img src="public/assets/images/logo-sm.svg" alt="" height="24">
                  </span>
                  <span class="logo-lg">
                      <img src="public/assets/images/logo-sm.svg" alt="" height="24"> <span class="logo-txt">T3 Sayaç</span>
                  </span>
              </a>

              <a href="/" class="logo logo-light">
                  <span class="logo-sm">
                      <img src="public/assets/images/logo-sm.svg" alt="" height="24">
                  </span>
                  <span class="logo-lg">
                      <img src="public/assets/images/logo-sm.svg" alt="" height="24"> <span class="logo-txt">T3 Sayaç</span>
                  </span>
              </a>
          </div>

          <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
              <i class="fa fa-fw fa-bars"></i>
          </button>

      </div>  
      <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav" style="display: flex; flex-direction: row; gap: 20px;">
                  <li ><a href="/sayac"><h5>Sayaç</h5></a></li>
                  <li><a href="/report"><h5>Anlık Durum</h5></a></li>
                  <li><a href="/"><h5>Home Page</h5></a></li>
                </ul>
            </div>
        </nav>
    </div>
          
    </div>
  </div>
</header>
